<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Stock Trading Tool_recommend</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicon -->
  <link href="../static/img/favicon.ico" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Bell
    Theme URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <!-- Page Content
    ================================================== -->

  <!-- Header -->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <img src="../static/img/logo-nav.png" alt="" title="" /></img>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Bell</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li><a href="../#features"><b>인기 검색 종목</b></a></li>
            <li><a href="../#portfolio"><b>종목 추천</b></a></li>
            <li><a href="../#about"><b>증권 이슈</b></a></li>
            <li><a href="../#team"><b>팀 소개</b></a></li>
        </ul>
    </div>
  </header>
  <!-- #header -->
  
  <!-- Features -->

  <section class="features" id="features">
    <div class="container">
      <h2 class="text-center">
         공격 성향 사람들을 위한 추천 종목
      </h2>
      
      <p>{{attack}}</p>
      <br><br><br><br><br><br><br><br><br><br>

    </div>
  </section>
  <!-- /Features -->

  
  <!-- @component: footer -->

  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-left text-center">
            <p class="copyright-text">
              © BELL Theme
            </p>
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bell
              -->
              <a href="https://bootstrapmade.com/">Bootstrap Templates</a> by BootstrapMade
            </div>
          </div>

          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="../#hero">Home</a>
              </li>

              <li class="list-inline-item">
                <a href="../#features">인기 검색 종목</a>
              </li>

              <li class="list-inline-item">
                <a href="../#portfolio">종목 추천</a>
              </li>

              <li class="list-inline-item">
                <a href="../#about">증권 이슈</a>
              </li>

              <li class="list-inline-item">
                <a href="../#team">Team</a>
              </li>

            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>


  <!-- Required JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>
  <script src="../static/lib/tether/js/tether.min.js"></script>
  <script src="../static/lib/stellar/stellar.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/counterup/counterup.min.js"></script>
  <script src="../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../static/lib/easing/easing.js"></script>
  <script src="../static/lib/stickyjs/sticky.js"></script>
  <script src="../static/lib/parallax/parallax.js"></script>
  <script src="../static/lib/lockfixed/lockfixed.min.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="../static/js/custom.js"></script>

  <script src="../static/contactform/contactform.js"></script>

</body>
</html>
