<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Stock Trading Tool</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicon -->
  <link href="../static/img/favicon.ico" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Bell
    Theme URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <!-- Page Content
    ================================================== -->
  <!-- Hero -->

  <section class="hero" id="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <a class="hero-brand" href="index.html" title="Home"><img alt="Bell Logo" src="../static/img/logo3.png"></a>
        </div>
      </div>

      <div class="col-md-12">
        <h1>
            주식 분석 사이트
        </h1>

        <p class="tagline">
          by. OpenSourceProgramming team8
        </p>
      </div>
    </div>

  </section>
  <!-- /Hero -->

  <!-- Header -->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <img src="../static/img/logo-nav.png" alt="" title="" /></img>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Bell</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#features"><b>인기 검색 종목</b></a></li>
          <li><a href="#portfolio"><b>종목 추천</b></a></li>
          <li><a href="#about"><b>증권 이슈</b></a></li>
          <li><a href="#team"><b>팀 소개</b></a></li>
        </ul>
    </div>
  </header>
  <!-- #header -->
  
  <!-- Parallax -->

  <div class="block bg-primary block-pd-lg block-bg-overlay text-center" data-bg-img="../static/img/parallax-bg.jpg" data-settings='{"stellar-background-ratio": 0.6}' data-toggle="parallax-bg">
    <h2>
        Welcome to "Stock Trading Tool"
    </h2>

    <div class="container">
      <div class="row">
        <div class="feature-col col-lg-4 col-xs-12">
          <img class="infoimg" src = "../static/img/ranking.png">
          <p><b>인기 검색 종목</b></p>
          <p>: 소개내용</p>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <img class="infoimg" src = "../static/img/recommend.png">
          <p><b>종목 추천</b></p>
          <p>: 소개내용</p>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <img class="infoimg" src = "../static/img/news.png">
          <p><b>증권 이슈</b></p>
          <p>: 소개내용</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /Parallax -->
  
  <!-- Features -->

  <section class="features" id="features">
    <div class="container">
      <h2 class="text-center">
        인기 종목
      </h2>
      
      <p><a href="detail/{{p0}}">1.{{p0}}</a><br>
        <a href="detail/{{p1}}">2.{{p1}}</a><br>
        <a href="detail/{{p2}}">3.{{p2}}</a><br>
        <a href="detail/{{p3}}">4.{{p3}}</a><br>
        <a href="detail/{{p4}}">5.{{p4}}</a><br>
        <a href="detail/{{p5}}">6.{{p5}}</a><br>
        <a href="detail/{{p6}}">7.{{p6}}</a><br>
        <a href="detail/{{p7}}">8.{{p7}}</a><br>
        <a href="detail/{{p8}}">9.{{p8}}</a><br>
        <a href="detail/{{p9}}">10.{{p9}}</a><br>
        <a href="detail/{{p10}}">11.{{p10}}</a><br>
        <a href="detail/{{p11}}">12.{{p11}}</a><br>
        <a href="detail/{{p12}}">13.{{p12}}</a><br>
        <a href="detail/{{p13}}">14.{{p13}}</a><br>
        <a href="detail/{{p14}}">15.{{p14}}</a><br></p>​

    </div>
  </section>
  <!-- /Features -->
  <!-- Call to Action -->

  <!-- /Call to Action -->
  <!-- Portfolio -->

  <section class="portfolio" id="portfolio">
    <div class="container text-center">
      <h2>
        종목 추천
      </h2>

      <p>
        Voluptua scripserit per ad, laudem viderer sit ex. Ex alia corrumpit voluptatibus usu, sed unum convenire id. Ut cum nisl moderatius, Per nihil dicant commodo an.
      </p>
      <br><br><br><br><br><br><br><br><br><br>
    </div>

  </section>
  <!-- /Portfolio -->

  <!-- About -->

  <section class="about" id="about">
    <div class="container text-center">
      <h2>
        증권 이슈
      </h2>

      <p>
        증권 이슈 리스트
      </p>
      <br><br><br><br><br><br><br><br><br><br>

    </div>
  </section>
  <!-- /About -->
  

  <!-- Team -->

  <section class="team" id="team">
    <div class="container">
      <h2 class="text-center">
          OUR TEAM
        </h2>

      <div class="row">
        <div class="col-sm-3 col-xs-6">
          <div class="card card-block">
            <a href="#team"><img alt="" class="team-img" src="../static/img/zladb.jpg">
              <div class="card-title-wrap">
                <span class="card-title">김유진</span> <span class="card-text">2020112757</span>
              </div>

              <div class="team-over">
                <img class="emailimg" src="../static/img/email.png">
                <h4 class="hidden-md-down">
                  zla_db@naver.com
                </h4>
          </div>
          </a>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#team"><img alt="" class="team-img" src="../static/img/knutaehyung.jpg">
              <div class="card-title-wrap">
                <span class="card-title">김태형</span> <span class="card-text">2020116366</span>
              </div>

              <div class="team-over">
                <img class="emailimg" src="../static/img/email.png">
                <h4 class="hidden-md-down">
                  mrkim2686@naver.com
                </h4>
        </div>
        </a>
      </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div class="card card-block">
        <a href="#team"><img alt="" class="team-img" src="../static/img/jjunii.png">
              <div class="card-title-wrap">
                <span class="card-title">박준희</span> <span class="card-text">2020113873</span>
              </div>

              <div class="team-over">
                <img class="emailimg" src="../static/img/email.png">
                <h4 class="hidden-md-down">
                  wnslii@knu.ac.kr
                </h4>
      </div>
      </a>
    </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div class="card card-block">
        <a href="#team"><img alt="" class="team-img" src="../static/img/heej-ng.png">
              <div class="card-title-wrap">
                <span class="card-title">박희중</span> <span class="card-text">2020110007</span>
              </div>

              <div class="team-over">
                <img class="emailimg" src="../static/img/email.png">
                <h4 class="hidden-md-down">
                  hejung@knu.ac.kr
                </h4>
      </div>
      </a>
    </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div class="card card-block">
        <a href="#team"><img alt="" class="team-img" src="../static/img/OreoFlavor.png">
              <div class="card-title-wrap">
                <span class="card-title">오성식</span> <span class="card-text">2020112102</span>
              </div>

              <div class="team-over">
                <img class="emailimg" src="../static/img/email.png">
                <h4 class="hidden-md-down">
                  oh010224@knu.ac.kr
                </h4>
      </div>
      </a>
    </div>
    </div>
    </div>
  </section>
  <!-- /Team -->
  <!-- @component: footer -->

  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-left text-center">
            <p class="copyright-text">
              © BELL Theme
            </p>
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bell
              -->
              <a href="https://bootstrapmade.com/">Bootstrap Templates</a> by BootstrapMade
            </div>
          </div>

          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#hero">Home</a>
              </li>

              <li class="list-inline-item">
                <a href="#features">인기 검색 종목</a>
              </li>

              <li class="list-inline-item">
                <a href="#portfolio">종목 추천</a>
              </li>

              <li class="list-inline-item">
                <a href="#about">증권 이슈</a>
              </li>

              <li class="list-inline-item">
                <a href="#team">Team</a>
              </li>

            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>


  <!-- Required JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>
  <script src="../static/lib/tether/js/tether.min.js"></script>
  <script src="../static/lib/stellar/stellar.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/counterup/counterup.min.js"></script>
  <script src="../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../static/lib/easing/easing.js"></script>
  <script src="../static/lib/stickyjs/sticky.js"></script>
  <script src="../static/lib/parallax/parallax.js"></script>
  <script src="../static/lib/lockfixed/lockfixed.min.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="../static/js/custom.js"></script>

  <script src="../static/contactform/contactform.js"></script>

</body>
</html>
